@font-face {
  font-family: OpenSans;
  src: url('/font/OpenSans-Regular.ttf');
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

h1 {
  font-family: OpenSans;
  margin: 30px;
  font-size: 8rem;
}

p {
  font-family: OpenSans;
  font-size: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  text-align: center;
}
